<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aetherus - Login</title>

    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <script src="/login.js" defer></script>

    <div class="login-container">
        <h2>Aetherus-Login</h2>
        <div id="message-box" class="message" style="display:none;"></div>

        <form id="login-form">
            <label for="username">Benutzername</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Passwort</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Einloggen</button>

            <label>
                <input type="checkbox" name="remember_me" id="rememberMeCheckbox">
                Angemeldet bleiben
            </label>
        </form>

        <p style="margin-top: 20px; font-size: 0.85rem;">
            Noch keinen Account? <a href="register" style="color: #58a6ff; text-decoration: none;">Hier
                registrieren</a>
        </p>
        
    </div>
</body>

</html>
