<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aetherus Login</title>

    <link rel="stylesheet" href="/main/frontend/css/login.css">
</head>

<body>
    <script src="/main/frontend/login.js" defer></script>

    <div class="login-container">
        <h2>Aetherus-Login</h2>
        <div id="message-box" class="message" style="display:none;"></div>

        <form id="login-form">
            <label for="username">Benutzername</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Passwort</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Einloggen</button>

            <label>
                <input type="checkbox" name="remember_me" id="rememberMeCheckbox">
                Angemeldet bleiben
            </label>
        </form>
    </div>
</body>

</html>